.instance.active {
    border: 1px solid #1890ff;
}

.instance.active > .dragger {
    background-color: #1890ff;
    display: block;
    color: white;
    z-index: 1;
}

.instance .dragger {
    display: none;
}

.dragger {
    padding: 4px;
    cursor: move;
    position: absolute;
    top: 0;
    left: 0;
}

.instance {
    border: 1px solid #a3a3a3;
    position: relative;
    padding: 6px;
}

.id {
    position: absolute;
    top: 6px;
    right: 10px;
    color: #a3a3a3;
    z-index: 1;
}

.swimlanes {
    table-layout: fixed;
    border: 1px dashed #a3a3a3;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.swimlane {
    border: 1px dashed #a3a3a3;
    height: 50px;
    padding: 6px;
    vertical-align: top;
    position: relative;
}

.input {
    table-layout: fixed; width: 100%;
}